version: '3.8'

services:
  polling-app:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - database
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/polling-app
    networks:
      - my-network

  database:
    

volumes:
  mongodb_data:
networks:
  my-network:
    driver: bridge
