version: '3.9'

services:
  veridico-backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - database
    environment:
      POSTGRES_HOST: database
      POSTGRES_PORT: 5432
      POSTGRES_DB: veridico
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: thanh1708
      POSTGRES_SSL: 'false'
      JWT_SECRET_KEY: MwRNqFiPKP2NUswYpYA3
    networks:
      - my-network
  database:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: veridico
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: thanh1708
      TZ: Asia/Ho_Chi_Minh
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:

networks:
  my-network:
    driver: bridge
